/* #pageFooter{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
} */

#listItem{
    background-color: #F9B500!important;
    align-content: center;
}

#logo{
    border-radius: 50%;
    width: 20%;
}

#temp{
  float: right;
}

#navOwl{
  /* float: right; */
  margin: 0 3px;
    background: none;
    border: 1px solid #dedede;
    color: #999;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.pagination {
  display: inline-block;
  text-align: center;
}
  
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.list-btm-border-white  li {
  border-bottom: 1px solid #fff;
}

.cardStyle {
  height: 150px;
    width: 180px;
}

.block-title{
  border-bottom: 2px solid #ec0000;
  font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0 0 40px;
}

h3{
  color: #1c1c1c;
    font-weight: 700;
    font-family: 'Arimo', sans-serif;
}

.color-red .block-title > span, .color-red a.post-cat {
  background: #ec0000;
  font-weight:bold ;
}
.block-title span {
  background: #610707;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  position: relative;
}